body{
	background-color: rgb(0,200,255); font-family: 'Microsoft JhengHei', sans-serif;}
.big{
	max-width: 90%;
	margin: 10px auto 10px auto;
	padding: 50px;
	font-size: 1000%;
	background-color: rgba(255,255,0,0.8);
	border-radius: 5px;
}
.thebox{
	max-width: 90%;
	margin: 10px auto 10px auto;
	background-color: rgba(255,255,0,0.5);
	color: white;
	border-radius: 5px;
}
.qt{display: inline-block;
	background-color: rgba(255,255,255,0.5);
	font-size: 4rem;}
.qt-top{
	max-width: 100%;
	display:inline-block; 
	text-align: left;
	vertical-align: super;
	font-family:'Coustard',serif; 
	font-size: 5rem;
	background-color: rgba(255,255,255,0.8);}

.qt-btm{display:inline-block; 
	text-align: right; 
	vertical-align: bottom;
	font-family:'Coustard',serif; 
	font-size: 5rem;
	background-color: rgba(255,255,255,0.5);	margin: 0px 0px -50px 0px;}

.helena{display: inline-block;background-color: rgb(255,80,150); max-width: 20%;max-height: 20%;}

@media screen and (max-width: 800px){
	.helena{
		max-width: 100%; 
		float: left;
		display: block;
		clear: both;
		color: rgb(255,80,150 );
		background-color: rgb(255,255,255);
		margin-left: 10px;
		margin-bottom: 10px;
		-moz-transform: rotate(-30deg);
		-webkit-transform: rotate(-30deg);}	
}